---
import Banner from '../components/Banner.astro';
interface Props {
  withoutImage?: boolean
}

const { withoutImage } = Astro.props
---
<Banner/>
<div class="grid grid-cols-2 md:grid-cols-4 gap-4">
  <div class="grid gap-4">

    {
      !withoutImage && (
        <div>
          <div class="bg-white rounded-lg" transition:name="wrapper">
            <a href="/details">
              <img
                class="h-auto max-w-full rounded-lg"
                src="https://flowbite.s3.amazonaws.com/docs/gallery/masonry/image-8.jpg"
                alt=""
                transition:name="cover-image"
              />
            </a>
          </div>
        </div>
      )
    }
</div>