<div
  class="absolute h-full w-full bg-zinc-800/70 top-0 bottom-0 z-10 flex items-center justify-center"
  transition:name="overlay"
>

  <div class=" bg-white rounded-lg shadow w" transition:name="wrapper">
    <button onclick="history.back()" type="button" class="w-full flex items-center justify-center px-5 py-2 text-sm text-gray-700 transition-colors duration-200 bg-white border rounded-lg gap-x-2 sm:w-auto dark:hover:bg-gray-800 dark:bg-gray-900 hover:bg-gray-100 dark:text-gray-200 dark:border-gray-700">
      <svg class="w-5 h-5 rtl:rotate-180" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" d="M6.75 15.75L3 12m0 0l3.75-3.75M3 12h18" />
      </svg>
      <span>Go back</span>
    </button>
    <div class=" w-[90vw] flex justify-center">
      <div class="hide h-[40vh] w-[80%] delay-75 flex bg-gradient-to-bl from-indigo-200 via-red-200 to-yellow-100 mb-4 rounded-xl">
        <div class="flex flex-col gap-7 justify-center items-center w-full">
          <h1 class="text-4xl font-bold">Wazo<span class="text-orange-500">ku</span> Crowd Design System</h1>
          <p class="text-gray-600 font-semibold">Resources, components, and design guidelines behind Wazoku</p>
        </div>
      </div>

    </div>
    <h1 class="text-4xl font-bold pt-10 pl-56">Wazo<span class="text-orange-500">ku</span> Crowd</h1>
    <div class="pb-20 pl-60">
      <p class="pt-10 font">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos incidunt illum nesciunt perferendis. Corrupti enim velit facere, eius eaque sit!</p>
    </div>
  </div>
</div>

<style>

  html{
    overflow: hidden
  }

  .modal-content {
    animation:
      90ms cubic-bezier(0.4, 0, 1, 1) both fade-in,
      300ms cubic-bezier(0.4, 0, 0.2, 1) both slide-from-bottom;
    animation-delay: 250ms;
  }

  @keyframes fade-in {
    from {
      opacity: 0;
    }
  }

  @keyframes fade-out {
    to {
      opacity: 0;
    }
  }

  @keyframes slide-from-bottom {
    from {
      transform: translateY(30px);
    }
  }
</style>