---
import Layout from '../layouts/Layout.astro'
import Gallery from '../components/Gallery.astro'
import Sidebar from '../components/Sidebar.astro'
import Modal from '../components/Modal.astro'
import Nav from '../components/Nav.astro';
---

<Layout title="Welcome to Astro.">
  <div class="min-h-screen flex flex-col">
    <Nav/>
   
    <main class="p-8 md:ml-56 h-auto">
      <Sidebar />
      <Gallery withoutImage />
    </main>

    <Modal />
  </div>
</Layout>