---
import Layout from '../layouts/Layout.astro'
import Gallery from '../components/Gallery.astro'
import Sidebar from '../components/Sidebar.astro'
import Nav from '../components/Nav.astro';
import Banner from '../components/Banner.astro';
---

<Layout title="Welcome to Astro.">
  <div class="min-h-screen flex flex-col">
    <Nav/>
    <div class="flex flex-col md:flex-row flex-1 bg-[#1F1F1F]">
      <Sidebar />
      <main class="p-4  h-auto pt-20">
        <Banner/>
        <Gallery />
      </main>
    </div>
  </div>
</Layout>